[Unit]
Description=modem power cycle to boot it
After=eg25-manager.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/modem-start.sh

[Install]
WantedBy=multi-user.target
