name: RRR OS ISO Generation

on:
  workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-22.04
    container:
      image: debian:latest
      volumes:
        - /proc:/proc
      options: --privileged -it

    steps:
    - uses: actions/checkout@v3.1.0

    - name: Install needed packages
      run: apt update && apt install debootstrap -y

    - name: Build ISO
      run: ./build.sh etc/terraform.conf

    - uses: actions/upload-artifact@v3.1.0
      with:
        name: Rolling Rhino Remix OS 2023
        path: builds/
